html {    
    font-family: 'DM Sans', sans-serif;
} 

:root {
    --header-footer-bkg: #00856F;
    --welcome-section-bkg: #DCE9E2;
    --services-section-bkg: #F7F9F9;
    --about-us-section-bkg: #FFFAF1;
    --primary-button-hover-bkg: #00453A;
    --main-font-color: #061800;
    --paragraph-font-color: #384633;
    --footer-button-font-color: #FFFFFF;
    --content-width: 1120px;
}

body {
    margin: 0;
    padding: 0;
}

.header-content, .content, .footer-content {
    width: var(--content-width);
    margin: 0 auto;
    padding: 160px 0;   
}

.heat-text {
    height: 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--header-footer-bkg);
}

.schedule-your-appointment-button {
    padding: 16px 32px;
    background-color: var(--header-footer-bkg);
    border: none;
    border-radius: 40px;
    color: var(--footer-button-font-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    margin: 40px 0 84px;
    vertical-align: middle;
    cursor: pointer;
}

.call-icon {
    margin-right: 17px;
}

.vertical-aling-for-button {
    display: flex;
    align-items: center;
}

.schedule-your-appointment-button:hover {
    background-color: var(--primary-button-hover-bkg);
}

.services-section {
    background-color: var(--services-section-bkg);
    text-align: center;
    min-width: fit-content;
}

.services-section .content {
    padding-top: 265px;
}

.services-section .section-title {
    margin: 0 auto;
}

.section-title {
    width: 450px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--main-font-color);
}

.description {
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph-font-color);
}

.card-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 290px;
    background-color: var(--footer-button-font-color);
    border: 1px solid var(--welcome-section-bkg);
    border-radius: 6px;
    padding: 25px;
    text-align: left;
    transition: 1s;
}

.card:hover {
    transform: scale(1.2);
  }

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.card-title::before {
    content: "";
    background-image: url("../images/check-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--services-section-bkg); 
    height: 10px;
    width: 10px;
    padding: 10px;
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-us-section {
    background-color: var(--about-us-section-bkg);
    min-width: fit-content;
    
}
.about-us-section .content {
    display: flex;
    align-items: center;
    gap: 40px;
}

footer {
    background-color: var(--header-footer-bkg);
    min-width: fit-content;
}

.footer-content {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

footer .logo-white {
    margin-bottom: 24px;
}

.all-rights-reserved {
    color: var(--footer-button-font-color);
    display: block;
    line-height: 32px;
}

.social-networks {
    width: 300px;
    text-align: right;
}

.social-networks a:not(:last-child) {
    margin-right: 40px;
} 

@media only screen and (max-width: 600px) {

.header-content, .doctor, .calling-man, .card, .social-networks, .logo-white {
    width: 100%;
}

.welcome-section .content, .numbers-indexes, .services-section .content, .about-us-section .content, .contact-us-section .content, .footer-content {
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.welcome-section .content, .services-section .content {
    text-align: center;
}

.schedule-your-appointment-button {
    margin: 32px 0 20px;
    font-size: 14px;
}

.services-section .content {
    padding: 335px 24px 100px;
}

.about-us-section .content, .contact-us-section .content {
    padding: 100px 24px;
}

.section-title, .contact-us-section .content .section-title {
    width: auto;
    font-size: 30px;
    line-height: 39px;
    padding: 16px 0 24px;
    margin: 0;
}

.card-wrapper {
    gap: 32px;
}

.card {
    padding: 24px;
}

.card-title {
    margin: 0 0 16px;
}

.description {
    margin: 0;
}

.about-us-section .content {
    flex-direction: column-reverse;
}

.footer-content {
    align-items: flex-start;
    padding: 60px 24px;
    box-sizing: border-box;
} 

.social-networks {
    text-align: left;
}
}